body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0px;
  padding-bottom: 40px;
  background-color: rgb(8, 157, 249);
  text-align: center;
}

.container img {
  width: 350px;
  height: 350px;
}

.container header h1 {
  text-decoration: overline;
  text-decoration-color: yellow;
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  border-radius: 5px;
  background-color: yellow;
  padding: 2px;
}

footer p a {
  text-decoration: none;
  font-style: italic;
  color: yellow;
}
